# Dependências
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Variáveis de Ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Builds e Saídas
dist/
build/
out/
.next/
.nuxt/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Sistema Operacional
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# Editores e IDEs
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Supabase Local (se for usar o CLI no futuro)
supabase/.temp/
supabase/functions/node_modules/

# Gemini / Antigravity (logs da IA)
.gemini/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
